<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1278},{209,283}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{209,283}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{211,293}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{211,293}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,587},{207,295}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{207,295}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,410},{175,299}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,8},{175,299}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,436},{195,297}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{195,297}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{205,289}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{205,289}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{199,303}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{199,303}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,633},{211,293}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{211,293}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,796},{225,289}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{225,289}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1023},{221,287}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{221,287}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{207,287}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{207,287}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1455},{203,283}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{203,283}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1660},{195,281}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{195,281}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,846},{213,289}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{213,289}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,305}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{217,305}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,223},{211,299}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{211,299}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1061},{215,287}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{215,287}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1453},{221,275}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{221,275}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,195},{213,299}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{213,299}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{207,299}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{207,299}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{193,297}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{193,297}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1660},{185,281}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{185,281}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1246},{205,287}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{205,287}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{191,301}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{191,301}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
            <key>_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{219,303}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{219,303}}</string>
                <key>sourceSize</key>
                <string>{225,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main-equip.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77428c34cc8cdde41de27ad08398a0ad:a49112fb0ebe1b13857c69d5b50428a9:28258ca439d2f0b597a4ae4e90893e2d$</string>
            <key>textureFileName</key>
            <string>main-equip.png</string>
        </dict>
    </dict>
</plist>
