<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{68,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>new_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,270},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{74,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>new_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,192},{80,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{80,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>new_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{86,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{86,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>new_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,100},{90,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{90,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>new_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>new_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{98,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>new_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{76,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>new_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,192},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{82,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>new_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{84,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{84,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fd4731ac218df6937d2ec3d617cc6a6:18b287942392667f2ca245ad4b840d95:4c7305d7025eb429c325946902683c29$</string>
            <key>textureFileName</key>
            <string>new.png</string>
        </dict>
    </dict>
</plist>
