<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p102_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,187}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{230,187}}</string>
                <key>sourceSize</key>
                <string>{232,193}</string>
            </dict>
            <key>p102_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{220,181}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{220,181}}</string>
                <key>sourceSize</key>
                <string>{232,193}</string>
            </dict>
            <key>p102_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{220,181}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{220,181}}</string>
                <key>sourceSize</key>
                <string>{232,193}</string>
            </dict>
            <key>p102_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{220,181}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{220,181}}</string>
                <key>sourceSize</key>
                <string>{232,193}</string>
            </dict>
            <key>p102_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{220,181}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{220,181}}</string>
                <key>sourceSize</key>
                <string>{232,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p102.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5b5beb950c7403b55b86527b715d751$</string>
            <key>textureFileName</key>
            <string>p102.png</string>
        </dict>
    </dict>
</plist>
